
body{
    width: 100%;
    margin: 0;
    background-color: #f5f5f5;
    color: #4e4e4e;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";


}


/* HEADER */
.header{
    display:flex;
    justify-content: space-around;
    align-items: center; 
    
     position: fixed;  
    background: rgba(0,0,0,0.1);
    width:100%;
    z-index: 1000;
    
    
}

.logo{
    font-size:30px;
}

.navbar-nav{
    list-style: none;
    display: flex;
    justify-content: space-between;
    font-size:20px;

}

.nav-item{
    
    margin-left:  20px;
    margin-right: 20px;
}

a{
    text-decoration: none;
    color:aliceblue;
}

li {
    position: relative;
  }
  
li::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 4px;
      border-radius: 4px;
      background-color: #54b3d6;
      bottom: 0;
      left: 0;
      transform-origin: right;
      transform: scaleX(0);
      transition: transform .3s ease-in-out;
    }
  
  li:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }

  /* INTRO */

  .introduction{
    background:url(./portfolio/class.jpg) ;
    text-align: center;
    width:100%;
    margin-top:0;
    height:40%;
    color:white;
    /* background-size: cover; */
    background-position: center;
    position: relative;
    
    
    
    
}

.intro-background-color{
    background-color: #0078ff;
    
    opacity: 0.45;
    position:absolute;
    width:100%;
    height: 100%;
} 
.introduction-elements{
    position:relative;
    padding-top:150px;
    z-index: 20; 


}



/* DETAILS */

.detail{
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: 20px auto;
    
}

.intro-image{
    width:32% ;
    height:25% ;
}

.detail-info{
    background-color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    
}

.main-detail-info{
    margin: 20px auto;
}

.info-credit{
    color:#0078ff;
}

.detail-left{
    width: 70%;
    
    

}

.detail-right{
    width: 25%;
    margin-left: 40px;
    margin-bottom: 25px;
}

.img-right{
    width: 90%;
    height: 40%;
    padding-left: 0;
    padding-top: 5%;
    
    
}

.detail-right-big{
    height: 200px;
}

.detail-right-small{
    height: 100px;
}

/* .blog-info-detail{

} */


/* CONTACT */

.contact{
    color:#1e1e1e;
    display: flex;
    
    
}

.contact-background{
    position: absolute;
    height: 900px;
    width: 100%;
    background-color: #0078ff; 
    opacity: 0.45;
} 

.contact-elements{
    background-color: white;
    width: 70%;
    height: 500px;
    position: relative;
    z-index: 20;
    /* margin-top: 150px ; */
    /* margin-left: 475px; */
    margin: 150px auto ;
    
    
    
    
}

.contact-row{
    
    text-align: center;
    
}

.contact-iput{
    text-align: center;
}


.mb-3{
    /* width: 400px; */
    padding-left: 0;
}


.form-control{
    width: 80%;
    
    border-radius: 0.25rem;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 6px;
    margin-bottom: 30px;
    
}


.button{
    height: 50px;
    width: 120px;
    border-radius: 1.5rem;
    background-color: #0078ff;
    color: white;
    
}