
/* PC:1080px
mobile:600px
tablet:768px */

/*PC*/
@media(min-width:1024px) /*>= 1024px*/
{

}

@media (min-width:1024px) and (max-width: 1205px) /*760px<= x <=1023px*/
{
    .introduction{
        background-repeat: no-repeat;
    }
    .hobbies-elements {
        
        flex-direction: column;
        align-items: center;
        
    }
    .service-elements{
        margin-left: 20px;
    }

    .hobbies-info{
        margin-bottom: 20px;

    }

    .blog-info{
        flex-direction: column;
        align-items: center;
        
    }

    .blog-elements{
        margin-bottom: 20px;
    }

    .contact-elements{
        width: 90%;
    }
    



}


/*Tablet*/


@media (min-width:768px) and (max-width: 1023px) /*760px<= x <=1023px*/
{
    body{
        width: 100%;
    }
    .introduction{
        background-size: cover;
        background-repeat: no-repeat;
        
    }

    .basic-information{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 120%;
        width: 89%;
    }
    .service-elements{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    
    }

    .hobbies-elements {
        /* display: flex; */
        flex-direction: column;
        align-items: center;
        
    }

    .hobbies-info{
        margin-bottom: 20px;

    }

    .blog-info{
        flex-direction: column;
        align-items: center;
        
    }

    .blog-elements{
        margin-bottom: 20px;
    }

    .contact-elements{
        width: 90%;
        
    }
    
    .contact-row{
        width: 290px;
        font-size: 10px;
        
    }

    .form-control{
        width: 290px;
    }


}


/*Mobile*/
@media(max-width:759px) /*nhỏ hơn 759px*/
{
    body{
        width: 100%;
    }

    .header{
        width: 100%;
        flex-direction: column;
        align-items: normal;
        position:fixed;
        z-index: 100;
    }

    .navbar-nav{
        width: 30%;
        font-size: 10px;
        
    }
    
    
    .basic-information{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 1500px;
        padding: 30px 10px;
        
        
    }


    .info-elements{
        width: 80%;
    }

    .service-detail{
        width: 90%;
        margin:20px auto;
    }

    .hobbies{
        padding-left:10px;
        padding-right:0;
    }

    .hobbies-info{
        text-align: center;
    }





    #about{
        width: 85%;
        

    }

    .service-elements{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    
    }

    .hobbies-elements {
        
        flex-direction: column;
        align-items: center;
        
    }

    .hobbies-info{
        margin-bottom: 20px;

    }

    .blog-info{
        flex-direction: column;
        align-items: center;
        
    }

    .blog-elements{
        margin-bottom: 20px;
    }

    .contact-elements{
        width: 90%;
        height:70%;
        font-size: 12px;
        flex-flow: column-reverse;
        
    }

    .contact-row{
        width: 90%;
        padding-left: 10px;
    }

    .contact-input{
        padding-bottom: 7px;
    }


    

    .form-control{
        width: 70%;
    }

    .list-ico{
        padding-left: 15px;
    }


    


    

}


/*Mobile */

 @media(min-width:300px) and (max-width: 520px){

    body{
        width: 100%;
    } 

    .logo {
        width: 100%;
    }

    .navbar-nav{
        padding:0;
        width: 100%;
        margin: 0;
        justify-content: flex-start;
        
    }
    .nav-item{
        /* width: 20%; */
        margin-left: 10px;
    }

    .basic-information{
        padding: 30px 10px; 
    }

    .trip-info{
        margin-left: 0;
        margin-right: 0;
    }

    .blog-elements{
        width: 100%;
    }

    .blog-info{
        text-align: center;
    }

    .blog-img{
        width: 100% !important; 
    }

    .hobbies{
        padding-left: 0;

    }

    .hobbies-info {
        margin: 0;
    }

    .mb-3{
        width: 100%;
    }

    .form-control{
        width: 100%;
    }

    /*END*/

    

    
} 